* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: small;
    background: #fff;
    color: #222;
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
}
Nav {
    display: block;
}
img {
    padding-top: 109px;
}
li {
    display: inline-block;
    padding-top: 20px;
    padding-left: 15px;
    color: #000;
    opacity: 0.75;
}
li a {
    text-decoration: none;
    color: #000;
}
li a:hover {
    text-decoration: underline;
}
.rightpad {
    padding-right: 15px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.search {
    display: block;
    margin: 25px auto auto auto;
    width: 400px;
    height: 38px;
    border-radius: 200px;
    border: 1px solid #dedede;
    box-shadow: 1px 1px 1px 1px #eaeaea;
}
.gbtn {
    margin: 15px;
    margin-top: 15px;
    height: 32px;
    width: 110px;
    background-color: #ebebeb;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    color: #5d5d5d;
    font-size: 13px;
}
.luckbtn {
    margin: 15px;
    margin-top: 15px;
    height: 32px;
    width: 110px;
    background-color: #ebebeb;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    color: #5d5d5d;
    font-size: 13px;
}
.gbtn a {
    text-decoration: none;
    color: #5d5d5d;
    font-size: 13px;
}
.luckbtn a {
    text-decoration: none;
    color: #5d5d5d;
    font-size: 13px;
}
div .ctrbtn {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btmnav {
    background-color: #dedede;
    position:absolute;
    bottom:0;
    width:100%;
    height:40px;
}
.btmnav ul {
    margin: 0;
    vertical-align: middle;
    line-height: 0px;
}
#LBN {
    display: inline-block;
    float: left;
}
#RBN {
    display: inline-block;
    float: right;
}
